/nn_accelerator.cache
/nn_accelerator.hw
/nn_accelerator.ip_user_files
/nn_accelerator.runs
/nn_accelerator.sdk
/nn_accelerator.sim
/nn_accelerator.srcs/sources_1/xgui
/nn_accelerator.srcs/sources_1/ip
/nn_accelerator.srcs/sources_1/bd
/nn_accelerator.tmp
nn_accelerator.xpr
